
.header .title,
.blog-col .time,
.read-more:hover,
.heading4 a:hover,
.heading3 a:hover,
.heading5 a:hover,
.heading2 a:hover,
.cart-table .price,
.shop-detail .price,
.feature-col .price,
.breadcrumbs a:hover,
.filter-list a:hover,
#footer .copyright a,
.lightbox-demo .price,
.cart-table h3 a:hover,
#footer .f-nav a:hover,
.filter-list .active a,
.social-network a:hover,
.btn-primary.active:hover,
#header .cart-menu .price,
.blog-detail .header .time,
.search-holder .icon:hover,
#footer .footer-nav a:hover,
.setting-wrap > li > a:hover,
.lightbox-demo .wrap a:hover,
.blog-col .comment-nav a:hover,
.widget .category-list a:hover,
.event-sec .event-holder .time,
.aboutus-sec a.sub-title:hover,
.contact-sec .contact-list .fa,
.event-sec .event-holder .price,
#header .cart-menu .close:hover,
#header .cart-menu .total-price,
#header.v1 #nav ul > .hover > a,
.widget-cart-wrap > li > a:hover,
.widget .price-range .text .price,
.fancybox-close-small:hover:after,
#header.v1 #nav ul > li > a:hover,
.cart-widget .cart-totel .heading2,
.contact-sec .contact-list a:hover,
#nav .dropdown-menu > li > a:hover,
.setting-wrap .account-list a:hover,
.main-slider .slick-prev:hover:after,
.main-slider .slick-next:hover:after,
.compare-sec .compare-table .heading2,
#header.wh-clr #nav > ul > .hover > a,
.error-sec .error-form .sub-btn:hover,
.shop-detail .footer .tag-list a:hover,
#header.wh-clr #nav > ul > li > a:hover,
.search-holder .select-form .sub-btn:hover,
#header.wh-clr .setting-wrap > li > a:hover,
.widget .feature-list .txt-holder .heading2,
.shop-detail .footer .social-network a:hover,
.blog-detail .footer .social-network a:hover,
#header.wh-clr .widget-cart-wrap > li > a:hover,
.widget .feature-list.feature2 .heading3 a:hover,
.compare-sec .compare-table .rating-list a:hover,
.comments-block .commment-area .comment-date h3 a,
#nav .dropdownmenu .dropdowncollist > li > a:hover,
.event-sec .event-holder .txt-holder .heading5 a:hover,
#header.v1 #nav .dropdownmenu .dropdowncollist a:hover,
.portfolio-detail .portfolio-slider .slick-prev:hover:after,
.portfolio-detail .portfolio-slider .slick-next:hover:after{
	color: #a53e4c;
}


.p-label,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.pagination a:hover,
.pagination .active a,
.widget-cart-wrap .num,
.widget .size-list a:hover,
#footer .tags-list a:hover,
.cart-table .fa-close:hover,
.team-col .social-icons a:hover,
#content .viewFilterLinks a:hover,
#content .viewFilterLinks .active a,
.feature-col .social-network a:hover,
.shop-detail .social-networks a:hover,
.portfolio-col .social-network a:hover,
.shop-detail .footer .size-list a:hover,
.compare-sec .compare-table .size:hover,
.blog-detail .footer .tags-list a:hover,
.search-holder .select-form .jcf-select,
.compare-sec .compare-table .social-network a:hover{
	background-color: #a53e4c;
}

.cart-dropdown,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.widget .heading2:after,
.blog-detail .blockquote,
.btn-primary.active:hover,
#footer .tags-list a:hover,
.cart-table .fa-close:hover,
//.feature-col:hover .img-holder,
.main-slider .slick-prev:hover,
.main-slider .slick-next:hover,
#header .cart-menu .total-price,
.feature-col .social-network a:hover,
.shop-detail .social-networks a:hover,
.portfolio-col .social-network a:hover,
.blog-detail .footer .tags-list a:hover,
.portfolio-detail .pagg-slider li img:hover,
.tomatin-sec .comming-timer .countdown-amount,
.compare-sec .compare-table .social-network a:hover,
.portfolio-detail .portfolio-slider .slick-prev:hover,
.portfolio-detail .portfolio-slider .slick-next:hover,
.tomatin-sec .deal-slider .slick-dots .slick-active button{
	border-color: #a53e4c;
}

@media (max-width: 767px) {
	#header.v1 #nav ul > .hover > a,
	#header.v1 #nav ul > li > a:hover,
	#nav .dropdown-menu > li > a:hover,
	#header.wh-clr #nav > ul > .hover > a,
	#header.wh-clr #nav > ul > li > a:hover,
	#nav .dropdownmenu .dropdowncollist > li > a:hover{ color: #fff; }
	#header.v1 #nav ul > .hover > a,
	#header.v1 #nav ul > li > a:hover,
	#nav .dropdown-menu > li > a:hover,
	#header.wh-clr #nav > ul > .hover > a,
	#header.wh-clr #nav > ul > li > a:hover,
	#nav .dropdownmenu .dropdowncollist > li > a:hover{ background-color: #a53e4c; }
}